/* .hold-select-cells {
    height: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    border: 2px solid #F3F6F9;
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08); */
/* } */

.hold-cells {
    height: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    border: 2px solid #F3F6F9;
    max-width: 236px !important;
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08); */

    -moz-animation-name: openList;
    -webkit-animation-name: openList;
    -ms-animation-name: openList;
    animation-name: openList;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.hide-cells {

    -moz-animation-name: closeList;
    -webkit-animation-name: closeList;
    -ms-animation-name: closeList;
    animation-name: closeList;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}



@-moz-keyframes openList { 0% { transform: translateX(-230px); opacity: 1; } 100% { transform: translateX(0px); opacity: 1; visibility: visible; }}
@-webkit-keyframes openList { 0% { transform: translateX(-230px); opacity: 1; } 100% { transform: translateX(0px); opacity: 1; visibility: visible; }}
@-ms-keyframes openList { 0% { transform: translateX(-230px); opacity: 1; } 100% { transform: translateX(0px); opacity: 1; visibility: visible; }}
@keyframes openList { 0% { transform: translateX(-230px); opacity: 1; } 100% { transform: translateX(0px); opacity: 1; visibility: visible; }}

@-moz-keyframes closeList { 0% { transform: translateX(0px); opacity: 1; visibility: visible; } 100% { transform: translateX(-230px); opacity: 1; }}
@-webkit-keyframes closeList { 0% { transform: translateX(0px); opacity: 1; visibility: visible; } 100% { transform: translateX(-230px); opacity: 1; }}
@-ms-keyframes closeList { 0% { transform: translateX(0px); opacity: 1; visibility: visible; } 100% { transform: translateX(-230px); opacity: 1; }}
@keyframes closeList { 0% { transform: translateX(0px); opacity: 1; visibility: visible; } 100% { transform: translateX(-230px); opacity: 1; }}

.list-cells {
    width: 100%;
    height: 100%;
    margin-right: 2px;
    background-color: white;
    padding: 0 10px;
}


.list-row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    /* height: 100%; */
    transition: height 2s;
}

.mapped-menu-options {
    /* border: 1px solid black; */
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    max-height: 500px !important;
    /* transition: height 1s; */
}

.mapped-menu-options::-webkit-scrollbar {
    display: none;
}

.hidden-menu-options {
    -moz-animation-name: closeProtocols;
    -webkit-animation-name: closeProtocols;
    -ms-animation-name: closeProtocols;
    animation-name: closeProtocols;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    height: 0px;
}

@-moz-keyframes closeProtocols { 0% { transform: translateY(0px); opacity: 1; visibility: visible; } 100% { transform: translateY(100px); opacity: 0; visibility: hidden; display: none; }}
@-webkit-keyframes closeProtocols { 0% { transform: translateY(0px); opacity: 1; visibility: visible; } 100% { transform: translateY(100px); opacity: 0; visibility: hidden; display: none; }}
@-ms-keyframes closeProtocols { 0% { transform: translateY(0px); opacity: 1; visibility: visible; } 100% { transform: translateY(100px); opacity: 0; visibility: hidden; display: none; }}
@keyframes closeProtocols { 0% { transform: translateY(0px); opacity: 1; visibility: visible; } 100% { transform: translateY(100px); opacity: 0; visibility: hidden; display: none; }}

.list-section {
    justify-content: space-between;
    
    
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #777E90;

    margin-top: 36px
}

.list-selection-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-new {
    
    
    font-weight: 600 !important;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    margin-right: 20px;
    color: #000000 !important;
}

.list-selection-title img {
    padding: 6px;
}

.draggable {
    flex: 1;
}

.select-action-button {
    margin: 0 10px;
    min-height: 62px;
    
    background: #F7F7F7;
    border-radius: 6.25806px;

    
    
    
    font-weight: 500;
    /* font-size: 8px; */
    line-height: 12px;
    text-align: center;

    color: #777E90;

    min-width: 87px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-action-button:hover {
    background: #F4E41C;
    outline: 1px solid rgba(185, 185, 185, 0.2);
    color: black;
}



.hold-menu-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.hold-action-option {
    margin: 0
}

.protocol {
    width: 60px;
    height: 60px;
    background: #DBD9D2;
    border: 2px solid #313130;
    box-sizing: border-box;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px;
    margin-top: 20px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-option-title {
    margin-top: 12px;
    
    
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;

    color: #777E90;
}

.menu-option-content {
    transform: rotate(-45deg);
}

.menu-option-content img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}


.select-cell-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F9FAFB;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px;
}

.select-cell-buttons button {
    width: 70px;
    min-width: 70px !important;
    height: 31px;
    
    
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    margin: 0 !important;
    border-radius: 5px;

    text-align: center;

    color: #FFFFFF;
}

button.unselected-category {
    background: #F9FAFB;
    color: #A2A2A2;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.protocol-search {
    font-weight: 400;
    border-radius: 5px;
}



.hold-input-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.hold-input {
    display: flex;
    align-items: center;
    background-color: #F9FAFB;
    border-radius: 5px;
    max-width: 145px;
}

.hold-tools {
    display: flex;
    border-radius: 5px;
}

.hold-input:hover {
    outline: 3px solid black;
}

.hold-input input {
    background-color: #F9FAFB;
}

.hold-input input:focus-visible {
    outline: none;
}

.input-tool {
    padding: 8px;
    cursor: pointer;
}

.hide-select {
    margin-top: 50%;
    height: 72px;
    width: 36px;
    margin-left: -10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hold-hide-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-180 {
    transform: rotate(180deg);
}