

.hold-content {
  height: 100%;
  width: 100%;
}

.content {
  padding: 10px;
  display: flex;
  position: relative;
}
.content-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
}