.hold-modal {
    position: absolute;
    width: 343px;
    /* height: 743px; */
    height: 80%;

    background: #FFFFFF;
    border: 1px solid #F3F6F9;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 999;
    padding: 30px;
    margin-right: 34px;
    margin-top: 110px;
    right: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.modal-option {
    padding-top: 20px
}

.modal-options {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.modal-options::-webkit-scrollbar {
    display: none;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    
    
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-close-button {
    width: 18px;
    height: 21px;   
    cursor: pointer;
}
.title-close-button img {
    width: 18px;
    height: 18px;   
}


.modal-option-title {
    
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 8px;
}


.header-title {
    
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
}


.modal-actions {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.modal-actions button {
    height: 40px;
    cursor: pointer;
    margin-left: 0
}

.action-button {
    background: #EAEAEA;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    color: #434343;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.finish-button {
    border: none;
    background: linear-gradient(146.14deg, #0B0E12 0%, #35424B 100%);
    border-radius: 10px;
    color: white;
    
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-top: 24px;
}

select, input {
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 1px 16px;
}

input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}




.hold-modal-option-button {
    display: flex;
    justify-content: space-between;
    margin-top: 5px
}

.hold-modal-option-button div {
    background: #F9FAFB;
    border-radius: 4px;
    padding: 4px 20px ;
    cursor: pointer;
    
    
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #A2A2A2;
}

.matched-modal-option-button {
    background: #FCEB74 !important;
    color: #081E3F !important;
    border: 1px solid #FED700;
    box-sizing: border-box;
    border-radius: 4px;
}

.color-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 10px !important ;
    color: #081E3F !important;
    max-width: 137px;
    max-height: 32px;
}


option {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.4;
}

.hold-minimized {
    padding-top: 20px
}

.minimized-title {
    display: flex;
    justify-content: space-between;
}

.minimized-title-counter, .minimized-description span {
    
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 8px;
}

.unminimize {
    cursor: pointer;
    text-decoration: underline;
}

.chrome-picker {
    width: 100% !important;
    box-shadow: none;
}

.hold-color-picker {
    margin-top: 12px;
}

.saturation-color > div , .saturation-black, .saturation-white  {
    border-radius: 8px;
}

.hue-horizontal, .alpha-color div {
    border-radius: 25px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 100%;
    height: 40px;
}

.custom-file-upload .action-button {
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.custom-pointer-wrapper {
    transform: translateX(-6px) translateY(-6px) !important;
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    margin: auto
}

.custom-pointer-content {
    
    border-radius: 100%;
    background-color: red;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto
}

.cells-info-wrapper {
    padding: 2px 16px;
    background: #FAFAFA;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.cells-info-row {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.token-select {
    margin: 0 !important;
    background: #F5F5F5 !important;
    background-color: #FAFAFA !important;
    /* background-image: none !important; */
    color: black
}

.token-select .selected-option {
    margin: auto 16px !important;
    color: black
}

.token-select .custom-option {
    opacity: 1 !important;
    width: 200px !important;
    color: black
}